<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <php>
        <env name="ONE_SIGNAL_TEST_APP_ID" value=""/>
        <env name="ONE_SIGNAL_TEST_API_KEY" value=""/>
        <env name="ONE_SIGNAL_TEST_DEFAULT_SEGMENT" value=""/>
        <env name="ONE_SIGNAL_TEST_PLAYER_ID" value=""/>
    </php>
    <testsuites>
        <testsuite name="Feature">
            <directory>./tests/Suites/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/Suites/Integration</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <!-- https://phpunit.readthedocs.io/en/9.5/configuration.html#the-include-element -->
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
