<?xml version="1.0" encoding="UTF-8" ?>

<phpunit bootstrap="vendor/autoload.php"
         verbose="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true"
         stopOnError="true"
>
    <php>
        <!-- Some test app, dont worry ;-) -->
        <env name="ONESIGNAL_TEST_APP_ID" value="262e9d8e-adea-4ac2-b90c-9826ddc9514b"/>
        <env name="ONESIGNAL_TEST_API_KEY" value="YTA0OGExYjktZDkyMC00MmM5LTgxOTktZjUzODcxMmQzNjdl"/>
    </php>

    <testsuites>
        <testsuite name="base">
            <directory>./</directory>
        </testsuite>
    </testsuites>
</phpunit>
